body {
	font-size: 14pt;
}

.search_term_item {
	list-style: none;
	padding: 7px;
}

.display_name {
	font-weight: bold;
}

#search_results_table {
	border-collapse: collapse;
}

.user_icon {
	padding-right: 25px;
	vertical-align: top;
}

.tweet_row {
}

.tweet_text {
	background-color: #EEEEEE;
}
